<div>
  <h3>My Heroes</h3>
  <label>Hero name:
    <input v-model="heroName"/>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button v-on:click="addHero()">
    Add Hero
  </button>

  <ul class="heroes">
    <li v-for="hero of heroesData">
      <a v-bind:href="'./heroes/'+ hero.id">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
      <button class="delete"
        v-on:click="deleteHero(hero)">x</button>
    </li>
  </ul>
</div>